certifi==2022.12.7
charset-normalizer==3.0.1
docutils==0.19
idna==3.4
Kivy==2.1.0
Kivy-Garden==0.1.5
phonenumbers==8.13.6
Pillow==9.4.0
Pygments==2.14.0
PyJWT==2.6.0
pytz==2022.7.1
requests==2.28.2
sms-counter @ git+https://github.com/dedayoa/sms-counter-python.git@87e799ac88928881622c75a175d204d91abe187b
twilio==7.16.3
urllib3==1.26.14
